html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 156px;
}
.header {
background-color: #00A383;
 min-height: 500px;
 padding-top: 82px;
 padding-bottom: 82px;
 font-family: 'montserrat', sans-serif;
color: #fff;
}
.header_title {
font-size: 56px;
font-weight: 600px;
margin-bottom: 30px;
}
.header_text {
font-size: 16px;
font-weight: 400px;
line-heigt: 24px;
max-width: 437px;
margin-bottom: 45px;
}
.header_button {
width: 194px;
heght: 60px;
font-family: 'montserrat', sans-serif;
font-size: 16px;
font-weight: 400px;
border-radius: 0.5em;
border: none;
 box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.5); /* Тень под кнопкой */
    transition: 0.3s; /* Время перехода */
    position: relative; /* Относительное позиционирование */
    top: 0; left: 0; /* Исходное положение */
   }
.header_button:active {
    box-shadow: none; /* Убираем тень */
    top: 3px; left: 3px; /* Смещаем кнопку вниз и вправо */
   }


/* карусель */
.wrapper {
        margin: 0 auto;
        wigth: 700;
        height: 400;
        border: none


      }
      .exmpl {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

      }
      .exmpl img {
        height: 100%;
        width: auto;
        }
.center {
  padding: 0 40px;
  text-align: center;
  max-width: 100%;
    position: relative;
}
.center img {
  max-width: 100%;
  height: auto;
}

